<div id="wholepage">
  <mat-grid-list *ngIf="imageType === 'desktop'" id="gridlist" cols="100" rowHeight="267px" [gutterSize]="'0px'">
    <mat-grid-tile [ngStyle]="renderBackground()" id="firstquarter" colspan="60" rowspan="2">
      <div id="navdiv">
        <nav class="navbar navbar-expand-lg">
          <div class="navbar-brand" id="roomdiv">room</div>
          <div class="nav-item active col" id="homediv"><a href="#">home</a></div>
          <div class="nav-item active col" id="shopdiv"><a href="#">shop</a></div>
          <div class="nav-item active col" id="aboutdiv"><a href="#">about</a></div>
          <div class="nav-item active col" id="contactdiv"><a href="#">contact</a></div>
        </nav>
      </div>
    </mat-grid-tile>
    <mat-grid-tile id="secondquarter" colspan="30" rowspan="2">
      <div>
        <div id="seccontent" class="container-fluid">
          <div>
            <h2 id="secondheader">
              <p>{{secondContent[contentnumber].header}}</p>
            </h2>
          </div>
          <br />
          <div></div>
          <p id="description">
            {{secondContent[contentnumber].description}}
          </p>
          <a href="#" id="shopnowdiv" class="row">
            <div class="col-sm-5">
              <h6>
                <b>
                  <pre>S H O P   N O W</pre>
                </b>
              </h6>
            </div>
            <div class="col-sm-1">
              <svg width="40" height="12" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M34.05 0l5.481 5.527h.008v.008L40 6l-.461.465v.063l-.062-.001L34.049 12l-.662-.668 4.765-4.805H0v-1h38.206l-4.82-4.86L34.05 0z"
                  fill="#000" fill-rule="nonzero" />
              </svg>
            </div>
          </a>
        </div>
        <div id="seccontentarrows" class="container-fluid row">
          <a href="#" id="divarrowleft" (click)="goToPreviousPage()">
            <img id="arrowleft" src="../assets/images/icon-angle-left.svg">
          </a>
          <a href="#" id="divarrowright" (click)="goToNextPage()">
            <img id="arrowright" src="../assets/images/icon-angle-right.svg">
          </a>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile id="thirdquarter" colspan="30" rowspan="1"></mat-grid-tile>
    <mat-grid-tile colspan="40" rowspan="1">
      <div id="thirdcontent" class="container-fluid">
        <div class="row p-0 m-0">
          <b>
            A B O U T
          </b>
          <div style="width:10px"></div>
          <b>
            O U R
          </b>
          <div style="width:10px"></div>
          <b>
            F U R N I T U R E
          </b>
        </div>
        <p class="row w-100"></p>
        <p id="thirddescr" class="small">
          Our multifunctional collection blends design and function to suit your individual taste.
          Make each room unique, or pick a cohesive theme that best express your interests and what
          inspires you. Find the furniture pieces you need, from traditional to contemporary styles
          or anything in between. Product specialists are available to help you create your dream space.
        </p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile id="fifthquarter" colspan="30" rowspan="1"></mat-grid-tile>
  </mat-grid-list>

  <div *ngIf="imageType === 'mobile'" id="mobilepage">
    <div id="mobfirstquarter" [ngStyle]="renderBackground()">
      <div id="mobnavdiv">
        <nav id="navbarmob" class="navbar navbar-expand">
          <a href="#" class="navbar-brand" (click)="mobileNavActivated=true"><img
              src="../assets/images/icon-hamburger.svg"></a>
          <div id="roommob" class="nav-item active">
            <h5>room</h5>
          </div>
        </nav>
      </div>
      <div id="mobcontentarrows" class="row">
        <a href="#" class="col" id="mobarrowleft" (click)="goToPreviousPage()">
          <img id="mobrealarrowleft" src="../assets/images/icon-angle-left.svg">
        </a>
        <a href="#" class="col p-0 m-0" id="mobarrowright" (click)="goToNextPage()">
          <img id="mobrealarrowright" src="../assets/images/icon-angle-right.svg">
        </a>
      </div>
    </div>
    <div id="mobseccontent" class="container-fluid">
      <div>
        <h2 id="secondheader">
          <p>{{secondContent[contentnumber].header}}</p>
        </h2>
      </div>
      <br />
      <div></div>
      <p id="description">
        {{secondContent[contentnumber].description}}
      </p>
      <a href="#" id="shopnowdiv" class="row p-0 m-0">
        <div id="shopnowmob" class="w-50">
          <h6>
            <b>
              <pre>S H O P   N O W</pre>
            </b>
          </h6>
        </div>
        <div class="col w-25">
          <svg width="40" height="12" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M34.05 0l5.481 5.527h.008v.008L40 6l-.461.465v.063l-.062-.001L34.049 12l-.662-.668 4.765-4.805H0v-1h38.206l-4.82-4.86L34.05 0z"
              fill="#000" fill-rule="nonzero" />
          </svg>
        </div>
      </a>
    </div>

    <div id="thirdmob" class="wrapper">
      <img src="../assets/images/image-about-dark.jpg" id="thirdimg">
    </div>

    <div id="thirdmobcontent" class="container-fluid">
      <div class="row p-0 m-0">
        <b>
          A B O U T
        </b>
        <div style="width:10px"></div>
        <b>
          O U R
        </b>
        <div style="width:10px"></div>
        <b>
          F U R N I T U R E
        </b>
      </div>
      <p class="row w-100"></p>
      <p id="thirddescr">
        Our multifunctional collection blends design and function to suit your individual taste.
        Make each room unique, or pick a cohesive theme that best express your interests and what
        inspires you. Find the furniture pieces you need, from traditional to contemporary styles
        or anything in between. Product specialists are available to help you create your dream space.
      </p>
    </div>

    <div id="fifthmob" class="wrapper">
      <img src="../assets/images/image-about-light.jpg" id="fifthimg">
    </div>
  </div>

  <div id="mobilenavbody" *ngIf="imageType === 'mobile' && mobileNavActivated">
  </div>

  <div id="mobilenavheader" *ngIf="imageType === 'mobile' && mobileNavActivated" class="row p-0 m-0">
    <a id="closeicon" href="#">
      <img (click)="mobileNavActivated=false" src="../assets/images/icon-close.svg">
    </a>
    <a id="mobhome" href="#">home</a>
    <a id="mobshop" href="#">shop</a>
    <a id="mobabout" href="#">about</a>
    <a id="mobcontact" href="#">contact</a>
  </div>
</div>
